

/* Fonts */

$raleway: 'Raleway', sans-serif;
$fontawesome: normal normal normal 14px/1 FontAwesome;

$sizesmallx: 12px;
$sizesmall: 13px;
$sizenormal: 14px;
$sizemedium: 15px;
$sizeteen: 17px;
$sizemid: 18px;
$sizelarger: 20px;
$sizelarge: 24px;
$sizemidlg: 26px;
$sizelg: 32px;
$sizeextralg: 44px;

// Colors

$dark: #000;
$light-dark: #232323;
$green: #8dc53e;
$gray: #5e626f;
$light-gray: #b1b1b1;
$red: #eb1200;
$blue: #0197de;
$orange: #e93917;
$orangelight: #ff4b17;
$bluedark: #0d269a;
$brown: #903705;



// named colors

$mainbg: #222845;
$maincolor: #c39e65;
$white: #fff;



