!!! 5
<!--[if IE 7]>    <html class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
  %head
    @@include('./_head.html', {
      "title": "Kinder"
    })


  %body
    .main-wrapper
      @@include('./_header.html')
      %section.info#info
        .container
          .row
            .col-xs-12
              .headline
                %h3 Консьерж для Вашего бизнеса
                %p Посмотрите на то, чем торгуют люди, пройдите по городу и досмотрите, что продается: наряды и предметы для объядения.	Они с полчаса как кончили работу, так что в этот день мы могли сидеть только пустые каморы. Несмотря на открытые с двух сторон ворота, в каморе был тяжелый запах теплой крови, пол был весь коричневый, глянцовитый и в углублениях пола стояла сгущающаяся черная кровь.
          .row
            .col-xs-12
              .vilage-card-wrap
                .row
                  .col-md-6
                    .vilage-card
                      .img-wrapper
                        %img(src="images/panel-img-1.png" alt="" )
                      %a.img-link(href="#" )
                        %span подробнее
                  .col-md-6
                    .vilage-card
                      .img-wrapper
                        %img(src="images/panel-img-2.png" )
                      %a.img-link(href="#" )
                        %span подробнее
                .row
                  .col-md-6
                    .vilage-card
                      .img-wrapper
                        %img(src="images/panel-img-3.png" )
                      %a.img-link(href="#" )
                        %span подробнее
                  .col-md-6
                    .vilage-card
                      .img-wrapper
                        %img(src="images/panel-img-4.png" )
                      %a.img-link(href="#" )
                        %span подробнее
            .col-md-12
              .vilage-card-open
                %a.card-close(href="#" )
                .row
                  .col-md-4.padding-right-none
                    .left-block.js-equal-height
                  .col-md-8.padding-left-none
                    .right-block.js-equal-height
                      .card-open-headline
                        %h3 Смарт-Офис - нет ничего проще!
                        %p Предоставление услуг высшего качества, оперативная связь с арендаторами, удобный инструмент для мониторинга общественного мнения, а также удобная доставка новостей и счетов клиентам в удобном формате. Лучшее all-in-one решение для бизнес-центров вместе с сервисом "Консьерж".
                      .card-open-advantages
                        %h3 Преимущества
                        .row
                          .col-md-4
                            .advantages-block
                              %i.icon-grafic.sprite
                              %h4 Качество
                              %p А между тем так же, как первое условие доброй жизни есть воздержание, так и первое условие воздержанной жизни.
                          .col-md-4
                            .advantages-block
                              %i.icon-tree.sprite
                              %h4 Контроль персонала
                              %p А между тем так же, как первое условие доброй жизни есть воздержание, так и первое условие воздержанной жизни.
                          .col-md-4
                            .advantages-block
                              %i.icon-sheet.sprite
                              %h4 Управление услугами
                              %p А между тем так же, как первое условие доброй жизни есть воздержание, так и первое условие воздержанной жизни.
      %section.earnings
        .container
          .row
            .col-xs-12
              .headline
                %h3 Консьерж увеличит Ваш заработок
        .container
          .row

            .earnings-slider
              .item
                .col-md-4
                  .item-wrap
                    .icon-wrap
                      %i.icon-dashboard.sprite
                    .content-wrap.clearfix
                      %h4 Удобный интерфейс
                      %p Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.

              .item
                .col-md-4
                  .item-wrap
                    .icon-wrap
                      %i.icon-chat.sprite
                    .content-wrap.clearfix
                      %h4 Онлайн заявки
                      %p Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.
              .item
                .col-md-4
                  .item-wrap
                    .icon-wrap
                      %i.icon-phone.sprite
                    .content-wrap.clearfix
                      %h4 Уведомления
                      %p Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.
              .item
                .col-md-4
                  .item-wrap
                    .icon-wrap
                      %i.adjustments.sprite
                    .content-wrap.clearfix
                      %h4 Гибкая настройка
                      %p Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.
              .item
                .col-md-4
                  .item-wrap
                    .icon-wrap
                      %i.chart.sprite
                    .content-wrap.clearfix
                      %h4 Заказ товара онлайн
                      %p Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.
              .item
                .col-md-4
                  .item-wrap
                    .icon-wrap
                      %i.icon-statistic.sprite
                    .content-wrap.clearfix
                      %h4 Подробная статистика
                      %p Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.

          .row
            .col-md-12
              .btn-wrapper
                %a.btn-white.btn-advantages-open(href="#" ) Узнать больше
              .advantages-open.animated.fadeInDown
                %h3 Ваши клиенты всегда будут довольны
                %p А между тем так же, как первое условие доброй жизни есть воздержание, так и первое условие воздержанной жизни есть пост. Нельзя не радоваться этому так же, как не могли бы не радоваться люди, стремившиеся войти на верх дома и прежде беспорядочно и тщетно лезшие с разных сторон прямо на стены, когда бы они стали сходиться, наконец, к первой ступени лестницы и все бы теснились у нее, зная, что хода на верх не может быть помимо этой первой ступени лестницы.
                %p А между тем так же, как первое условие доброй жизни есть воздержание, так и первое условие воздержанной жизни есть пост. Нельзя не радоваться этому так же, как не могли бы не радоваться люди, стремившиеся войти на верх дома и прежде беспорядочно и тщетно лезшие с разных сторон прямо на стены, когда бы они стали сходиться, наконец, к первой ступени лестницы и все бы теснились у нее, зная, что хода на верх не может быть помимо этой первой ступени лестницы.
                %h3 Другие причины для использования Консьержа
                .row
                  .col-md-6
                    %ul
                      %li А между тем так же, как первое условие доброй жизни есть воздержание;
                      %li Так и первое условие воздержанной жизни есть пост;
                      %li Нельзя не радоваться этому так же, как не могли бы не радоваться люди;
                      %li Стремившиеся войти на верх дома и прежде беспорядочно;
                      %li И тщетно лезшие с разных сторон прямо на стены
                  .col-md-6
                    %ul
                      %li А между тем так же, как первое условие доброй жизни есть воздержание;
                      %li Так и первое условие воздержанной жизни есть пост;
                      %li Нельзя не радоваться этому так же, как не могли бы не радоваться люди;
                      %li Стремившиеся войти на верх дома и прежде беспорядочно;
                      %li И тщетно лезшие с разных сторон прямо на стены
                .row
                  .col-md-12
                    .btn-wrapper
                      %a.btn-white.btn-advantages-close(href="#" ) Свернуть
      %section.profile-slider
        .container
          .row
            .col-md-7.padding-none
              .carousel-rotate-wrap
                .carousel-rotate
                  .item
                    %img(src="images/phone-item2.png" alt="")
                  .item
                    %img(src="images/phone-item1.png" alt="")
                  .item
                    %img(src="images/slide-item.png" alt="")
                  .item
                    %img(src="images/phone-item3.png" alt="")

            .col-md-5.padding-none.profile-wrapper
              .profile-info
                .item-wrap
                  .icon-wrap
                    %i.chart.sprite
                  .content-wrap.clearfix
                    %h4 Следите за всеми событиями
                    %p Whether you want to create a blog, eCommerce store, portfolio, or all of the above, you can express your idea with a website powered by our elegant yet intuitive platform.
                .item-wrap
                  .icon-wrap
                    %i.chart.sprite
                  .content-wrap.clearfix
                    %h4 Подробный профиль
                    %p From goods to services, every business needs a space online to bring in customers.
                .item-wrap
                  .icon-wrap
                    %i.chart.sprite
                  .content-wrap.clearfix
                    %h4 Делайте пометки
                    %p An artist should always have control over their creative process.
              .profile-info-footer
                %a(href="#home") ПОПРОБУЙТЕ СЕЙЧАС
      %section.join-now
        .container
          .row
            .col-md-12
              %h2 Присоединяйтесь
              %p Уже на данный момент нашими услугами пользуется около 50 000 пользователей. Станьте частью нашего большого сообщества.
              .btn-wrapper
                %a.btn-main(href="#home" ) ПОЛУЧИТЬ ДОСТУП
      %section.rates#rates
        .container
          .row
            .col-md-12
              .headline
                %h3 Тарифы для <span>Бизнес центров</span>
        .container
          .row
            .col-md-12
              .rates-slider
                .item
                  .rates-card
                    .rates-card-header
                      %p Базовый
                    .rates-card-body
                      .rates-info
                        %i
                        %p 200
                      %p.rates-user Система поддерживающая 200 пользователей
                      %p.rates-price  <span>1599</span>/месяц
                .item
                  .rates-card
                    .rates-card-header
                      %p Базовый
                    .rates-card-body
                      .rates-info
                        %i
                        %p 200
                      %p.rates-user Система поддерживающая 200 пользователей
                      %p.rates-price  <span>1599</span>/месяц
                .item
                  .rates-card
                    .rates-card-header
                      %p Базовый
                    .rates-card-body
                      .rates-info
                        %i
                        %p 200
                      %p.rates-user Система поддерживающая 200 пользователей
                      %p.rates-price  <span>1599</span>/месяц
                .item
                  .rates-card
                    .rates-card-header
                      %p Базовый
                    .rates-card-body
                      .rates-info
                        %i
                        %p 200
                      %p.rates-user Система поддерживающая 200 пользователей
                      %p.rates-price  <span>1599</span>/месяц
              .rates-sales
                %p  <span>Специальное условие!</span> Скидки от <span>25%</span> до <span>50%<span/> при оплате авансом
          .row
            .col-md-12
              .btn-wrapper
                %a.btn-main(href="#" ) Попробовать бесплатно
      %section.reviews#reviews
        .container
          .row
            .col-md-12
              .headline
                %h3 Что говорят о нас

        .container
          .row
            .col-md-12
              .reviews-card-wrap
                .reviews-card.active
                  %p.reviews-description Консьерж помог нашему бизнес-центру качественно улучшить уровень предоставляемых услуг!
                  %h5.reviews-name Геннадий Волыгин1
                  %p.reviews-position управляющий БЦ “Сити-Люкс”
                  .reviews-img
                    %img(src="images/reviews-img.png" )
                .reviews-card
                  %p.reviews-description Консьерж помог нашему бизнес-центру качественно улучшить уровень предоставляемых услуг!
                  %h5.reviews-name Вася Пупкин
                  %p.reviews-position управляющий БЦ “Сити-Люкс”
                  .reviews-img
                    %img(src="images/reviews-img.png" )
                .reviews-card
                  %p.reviews-description Консьерж помог нашему бизнес-центру качественно улучшить уровень предоставляемых услуг!
                  %h5.reviews-name Илья муромец
                  %p.reviews-position управляющий БЦ “Сити-Люкс”
                  .reviews-img
                    %img(src="images/reviews-img.png" )
                .reviews-card
                  %p.reviews-description Консьерж помог нашему бизнес-центру качественно улучшить уровень предоставляемых услуг!
                  %h5.reviews-name Добрыня Никитич
                  %p.reviews-position управляющий БЦ “Сити-Люкс”
                  .reviews-img
                    %img(src="images/reviews-img.png" )
              .col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3
                .reviews-slider
                  .item
                    .client-img.js-toggle-review-card(data-index="0")
                      %img(src="images/reviews-img.png" )
                  .item
                    .client-img.js-toggle-review-card(data-index="1")
                      %img(src="images/reviews-img1.png" )
                  .item
                    .client-img.js-toggle-review-card(data-index="2")
                      %img(src="images/reviews-img.png" )
                  .item
                    .client-img.js-toggle-review-card(data-index="3")
                      %img(src="images/reviews-img1.png" )

      %section.clients
        .container
          .row
            .col-md-12
              .headline
                %h3 Наши клиенты
          .row
            .col-md-12
              %ul.clients-list
                %li
                  %img(src="../images/clients1.png" )
                %li
                  %img(src="../images/clients2.png" )
                %li
                  %img(src="../images/clients2.png" )
                %li
                  %img(src="../images/clients2.png" )
                %li
                  %img(src="../images/clients1.png" )
                %li
                  %img(src="../images/clients2.png" )
                %li
                  %img(src="../images/clients1.png" )
      %section.main-form
        .container
          .row
            .col-md-12
              .headline
                %h3 Протестируйте Консьерж уже сейчас
                %p Подпишитесь на бесплатный месяц тестового периода

            .form
              %form
                .row
                  .col-md-3
                    .form-group
                      %input.form-control(type="email" placeholder="Email" required="required")
                  .col-md-3
                    .form-group
                      %input.form-control(type="text" placeholder="Торговый центр “Ривьера”")
                  .col-md-3
                    .form-group
                      %select.form-control
                        %option Тип обьекта
                        %option Стандарт
                        %option Премиум
                        %option Базовый
                  .col-md-3
                    .form-group
                      %input.form-control(type="text" placeholder="Ваш телефон" required="required")
                .row
                  .col-md-12
                    .form-group
                      .btn-wrapper
                        %button.btn-main Получить Доступ
      %section.contacts#contacts
        .container
          .row
            .col-xs-12
              .headline
                %h3 Контакты
          .row
            .col-xs-12
              .cotacts-wrapper
                %h5 ООО "Консьерж"
                %p.adress 188367, г. Москва,<br> ул. Новый Арбат 20, офис 100
                %a.phone(href="#" ) +7 (495) 731-74-37
                %a.email(href="#" ) info@concierge.app
                %p.metro "Арбатская 3, 4", "Смоленская 3, 4"
                .btn-wrapper
                  %a.btn-white(href="#" data-popup-link="map") Открыть карту
                %ul.social
                  %li
                    %a.social-fb(href="#" )
                  %li
                    %a.social-vk(href="#" )
                  %li
                    %a.social-gplus(href="#" )




    @@include('./_footer.html')

